body {
    background-color: #949395;
}

.nav_container{
    margin-bottom: 3px;
}
.nav_item{
    margin-right: 2px;
}

.nav_item:hover{
    background-color: #e3dcdd;
}

.nav_link{
    color: inherit;
    text-decoration: none;
}

.main_window {
    display: flex;
    height: 98vh;
    width: 100%;
    border-radius: 7px;

}

.chat_container {
    width: 20%;
    height: 100%;
    background-color: #e3dcdd;
    border-radius: 10px;
}

.chat_container_reserve {
    width: 20%;
    height: 100%;
    background-color: #e3dcdd;
    border-style: solid;
    border-radius: 7px;
    border-width: 2px;
    border-color: #000;
}

.chat {
    background-color: #baa4c0d4;
    margin: 8px;
    padding-left: 5px;
    padding-top: 5px;
    border-style: solid;
    border-radius: 7px;
    border-width: 2px;
    border-color: #000;
    min-height: 40px;
    font-weight: bold;
    font-size: 20px;
}

.chat:hover{
    background-color: #e3dcdd;
}


.chat_window {
    display: flex;
    flex-direction: column;
    background-color: #e3dcdd;
    border-radius: 10px;
    height: 100%;
    width: 80%;
    margin-left: 7px;
    justify-content: space-between;

}

.chat_header{
    background-color: #baa4c0d4;
    border-radius: 10px;
    height: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
}

.chat_name_container{
    width: 70%;
}

.add_user_form_box{
    width: 25%;
    position: relative;
}

.add_user_form{
    width: 100%;
}

.adding_user_input_field{
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.addUserButton{
    height: 100%;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 7px;
    padding: 0.5em 1.5em;
    background-color:#000000d4;
    font-size: 0.9em;
    text-transform: uppercase;
    color: #2196f3;
    border: 2px solid #2196f3;
    border-radius: 1.5em;
}

.addUserButton:hover{
    color: #000;
    background-color: #2196f3;
}

.search_result{
    position: absolute;
    width: 100%;
    background-color: white;
}

.search_result_variant_box{
    display: flex;
    justify-content: space-between;

}

.search_result_variant_box:hover{
    color: #000;
    background-color: #2196f3;
}

.search_result_variant_username{
    margin: 3px;
    padding: 3px;
}

.search_result_variant_adding_button{
    margin: 3px;
    padding: 3px;
}

.dialog_container {
    display: flex;
    flex-direction: column;
    background-color: #e3dcdd;
    border-radius: 7px;
    width: 100%;
    height: 80%;
    overflow-y:scroll;

}

.input_field{
    height: 20%;
}


.send_message_form{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.text_field{
    max-height: 90%;
    max-width: 80%;
    min-height: 90%;
    min-width: 80%;
    height: 90%;
    width: 80%;
    margin-left: 10px;
    border-radius: 7px;
    padding-left: 10px;
    overflow-y:scroll;
    word-wrap:break-word;
}

.send_message_button{
    height: 20%;
    width: 15%;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 7px;
    padding: 0.5em 1.5em;
    background-color:#000000d4;
    font-size: 0.9em;
    text-transform: uppercase;
    color: #2196f3;
    border: 2px solid #2196f3;
    border-radius: 1.5em;
}

.send_message_button:hover {
    color: #000;
    background-color: #2196f3;
}


.message_container_left{
    display: flex;
    justify-content: flex-start;
}

.message_container_right{
    display: flex;
    justify-content: flex-end;

}

.message_left {
    background-color: #bfb4a8d4;
    border-radius: 12px;
    padding: 5px;
    max-width: 500px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    min-width: 350px;
}

.message_right {
    background-color: #c9d5d7d4;
    border-radius: 12px;
    padding: 5px;
    max-width: 500px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 20px;
    min-width: 350px;
}


.message_content {
    display: block;
    word-wrap:break-word;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
}

.message_time {
    display: flex;
    justify-content: flex-end;
    padding-top: 5px;
    padding-right: 5px;
}

.message_author{
    padding-bottom: 5px;
    font-weight: bold;
}

.nav_container{
    width: 100%;
    height: 40px;
    display: flex;
}

.left_nav_buttons{
    height: 100%;
}

.nav_buttons_array{
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    list-style-type:none;
}

.nav_item{
    height: 100%;
    display: inline;
}

.nav_link{
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;-
}

.login_nav_form{
    height: 100%;
}

.login_nav_button{
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fff0;
    height: 100%;
    border: none;
}

.user_list{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.user_list_string{
    margin-top: 5px;
    display: flex;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user_list_search_form{
    padding: 10px;
}

.user_list_username{

}

.user_list_write_message_button{
    padding-left: 20px;
}

.user_page_container{
    display: flex;
}

.user_avatar{
    margin: 3px;
    width: 360px;
    height: 360px;
    border-radius: 50%;

}

.user_avatar_chat{
    margin: 3px;
    width: 40px;
    height: 40px;
    border-radius: 50%;

}

.user_data_container{
    margin-left: 40px;
}

.user_data{
    display: flex;
    margin: 3px;
}

.user_data_type{
    margin: 3px;

}

.user_data_string{
    margin: 3px;
}