{% extends 'flatpages/default.html' %}
{% block title %}
Chat
{% endblock title %}
{% load static %}


        {% block content %}
<!--            <div class="navbar_container">-->
<!--            </div>-->
            <div class="main_window">
                <div class="chat_container" id="chat_container">
                </div>
                <div class="chat_window" id="chat_window">

                </div>
            </div>

            <script>
                                    <!--функция для получения чатов юзера-->
                async function getChats(url) {
                    const response = await fetch(url);
                    return await response.json();
                }
                                    <!--функция для автоскролинга в конец диалога-->
                async function scrollToBottom(elementId) {
                    var div = document.getElementById(elementId);
                    div.scrollTop = div.scrollHeight;
                }


                                    <!--функция для получения и обновления списка сообщений в чате-->
                async function getMessageFromChat(url, chatID) {
                    const response = await fetch(url);
                    let messages = await (response.json());
                    let currentUserID = "{{ user.id|escapejs }}";

                    chatWindow = document.getElementById('chat_window');
                    chatWindow.innerHTML = '';
                    let divDialogContainer = document.createElement('div');
                    divDialogContainer.className = 'dialog_container';
                    divDialogContainer.id = 'div_dialog_container';
                    chatWindow.appendChild(divDialogContainer)

                    const chatSocket = new WebSocket('ws://' + window.location.host+'/ws/livechat/' + chatID + '/');

                                    <!--функция для генерации блоков сообщений-->
                    async function displayNewMessage(content, author, authorID, time, currentUserID) {
                        let divMessageContainer = document.createElement('div');
                        let divMessage = document.createElement('div');
                        let divContent = document.createElement('div');
                        let divAuthor = document.createElement('div');
                        let divTime = document.createElement('div');

                        if (currentUserID == authorID) {
                            divMessageContainer.className = 'message_container_right';
                            divMessage.className = 'message_right'
                            console.log(`текущий юзер ${currentUserID}, автор ${authorID}`)
                        } else if (currentUserID != authorID) {
                            divMessageContainer.className = 'message_container_left';
                            divMessage.className = 'message_left'
                            console.log(`но тут тоже что-то происходит, текущий юзер ${currentUserID}, автор ${authorID}`)
                        }
                        divContent.className = 'message_content';
                        divAuthor.className = 'message_author';
                        divTime.className = 'message_time';

                        divContent.innerHTML = `${content}`;
                        divAuthor.innerHTML = `${author}`;
                        divTime.innerHTML = `${time}`;

                        divDialogContainer.appendChild(divMessageContainer)
                        divMessageContainer.appendChild(divMessage)
                        divMessage.appendChild(divAuthor);
                        divMessage.appendChild(divContent);
                        divMessage.appendChild(divTime);
                    }

                    for (let message = 0; message < messages.length; message++){
                        let content = messages[message].content;
                        let author = messages[message].author.username;
                        let authorID = messages[message].author.id;
                        let time = messages[message].time;
                        var chat  = messages[message].chat;

                        await displayNewMessage(content, author, authorID, time, currentUserID);
                    }

                    let divInputField = document.createElement('div');
                    divInputField.className = 'input_field';

                    let sendMessageForm = document.createElement('form');
                    sendMessageForm.id = "send_message_form";
                    sendMessageForm.className = "send_message_form";

                    let textField = document.createElement ('textarea');
                    textField.className = "text_field";
                    textField.placeholder = "Введите сообщение";
                    textField.name = "content";

                    let chatNumber = document.createElement('input');
                    chatNumber.type = "hidden";
                    chatNumber.name = "chat";
                    chatNumber.value = `${chat}`;

                    let sendMessageButton = document.createElement('button');
                    sendMessageButton.className = "send_message_button";
                    sendMessageButton.type = "submit";
                    sendMessageButton.innerText = "Отправить";


                    let userID = document.createElement('input');
                    userID.type = "hidden";
                    userID.name = "author";
                    userID.value = "{{ user.id|escapejs }}";

                    chatWindow.appendChild(divInputField)
                    divInputField.appendChild(sendMessageForm);
                    sendMessageForm.appendChild(textField);
                    sendMessageForm.appendChild(sendMessageButton);
                    sendMessageForm.appendChild(chatNumber);
                    sendMessageForm.appendChild(userID);


                            <!--прослушка события отправки сообщения из формы-->
                    sendMessageForm.addEventListener('submit', async event => {

                        event.preventDefault();
                        const formData = new FormData(sendMessageForm);
                        const plainFormData = Object.fromEntries(formData.entries());
                        var formDataJsonString = JSON.stringify(plainFormData);
                        console.log(formDataJsonString)
                        try {
                            const response = await fetch('http://127.0.0.1:8000/api/chatMessages/', {
                                method: 'POST',
                                body: formDataJsonString,
                                headers: {
                                    'Accept': 'application/json',
                                    'Content-Type': 'application/json',
                                    'X-CSRFToken': '{{ csrf_token }}'
                                },
                            });
                            const fetchData = await response.json();
                            } catch (error) {
                                console.error(error);

                        }
                        textField.value = ""
                        chatSocket.send(formDataJsonString);
                    })

                                <!--прослушка события получения сообщения по WS-->
                    chatSocket.onmessage = async function(e) {
                        const socketData = JSON.parse(e.data);
                        console.log(socketData)
                        content = socketData.content
                        author = socketData.author
                        authorID = socketData.authorID
                        time = socketData.time
                        await displayNewMessage(content, author, authorID, time, currentUserID)
                        await scrollToBottom('div_dialog_container')
                    };

                    chatSocket.onclose = function(e) {
                        console.error('Chat socket closed unexpectedly');
                    };

                    await scrollToBottom('div_dialog_container')
                }

                            <!--получение всех чатов юзера при открытии страницы-->
                (async () => {
                    let currentUserID = "{{ user.id|escapejs }}";
                    let currentUserUsername = "{{ user.username|escapejs }}";
                    let chats = await getChats('http://127.0.0.1:8000/api/userChats/')
                    console.log(chats);
                    for (let chat = 0; chat < chats.length; chat++){
                        let chatID = chats[chat].id;
                        let chatType = chats[chat].type;
                        let userList = chats[chat].users;
                        let users = [];
                        if (chatType == "DIALOG"){
                            for (let user = 0; user < chats[chat].users.length; user++){
                                if (chats[chat].users[user].id != currentUserID){
                                    var chatName = chats[chat].users[user].username;

                                }
                            }
                        }
                        else {
                            for (let user = 0; user < chats[chat].users.length; user++){
                                users.push(chats[chat].users[user]);
                            }
                            var chatName = users.join();
                        }
                        let divChat = document.createElement('div');
                        divChat.className = 'chat';
                        divChat.innerHTML = `${chatName}`;
                        divChat.onclick = await function(){
                            getMessageFromChat(`http://127.0.0.1:8000/api/chatMessages?id=${chatID}`, chatID);


                        }
                        chatContainer = document.getElementsByClassName('chat_container')[0];
                        chatContainer.appendChild(divChat)
                    }
                })();
            </script>
        {% endblock content %}

