<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <script>
        var currentUserID = {{user.id|escapejs}}
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {{ request.user.id|json_script:"user_id" }}
</head>
<body>
    <nav>
        <div class="nav_container">
            <div class="left_nav_buttons" id="left_nav_buttons">
                <ul class="nav_buttons_array">
                    {% if user.is_authenticated %}
                        <li class="nav_item">
                            <a class="nav_link" href="/chat">Диалоги</a>
                        </li>
                        <li class="nav_item">
                            <a class="nav_link" href="/users">Все пользователи</a>
                        </li>
                        <li class="nav_item">
                            <a class="nav_link" href="/createGroupChat">Создать групповой чат</a>
                        </li>
                        <li class="nav_item">
                            <a class="nav_link" href="/user/{{user.id}}">Мой профиль</a>
                        </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <li class="nav_item">
                            <form class="login_nav_form" action="{% url 'account_logout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="login_nav_button" >Выйти</button>
                            </form>
                        </li>
                    {% else %}
                        <li class="nav_item">
                            <form class="login_nav_form" action="{% url 'account_login' %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="login_nav_button" >Войти</button>
                            </form>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% block content %}
        {{ flatpage.content }}
    {% endblock content %}
</body>
</html>